<div class="section">
    <img src="https://media.licdn.com/dms/image/D4D03AQFo8EWqxlFhMw/profile-displayphoto-shrink_800_800/0/1674823675089?e=1681948800&v=beta&t=gLs8799kl6DY6EG8l0kVz34o2It59amSOU6wv9eq38M" alt="ronald's image">
    <h1>Hey there! I'm Ronald Kipchirchir</h1>
    <p>I am a quality-oriented, open-minded Software Developer passionate about learning and exploring new things.
      I have the ability to get on with people easily, adapting to new cultures and environments easily, and I am confident with strong leadership skills.
      I have a strong interest in blog writing and always look forward to continuing to bring informative and engaging content to my readers.
    </p>
    <h2 class="skill-title">SKILLS</h2>
  <div class="container">
    <div class="skill-group">
      <h2>Technical Skills(Programming)</h2>
    <ul>
      <li>JavaScript(Reactjs)</li>
      <li>TypeScript(AngularJs)</li>
      <li>Ruby(Ruby on Rails)</li>
    </ul>
    </div>
    <div class="skill-group">
      <h2>Soft Skills</h2>
    <ul>
      <li>Time Management</li>
      <li>Communication</li>
      <li>Collaboration</li>
      <li>Leadership</li>
    </ul>
    </div>
    <div class="skill-group">
      <h2>Other Skills</h2>
    <ul>
      <li>Github</li>
      <li>Git and Gitbash</li>
      <li>Linux</li>
      <li>Software Testing</li>
    </ul>
    </div>
  </div>
</div>
