<div class="section">
  <div class="container">
    <img src="https://media.licdn.com/dms/image/D4D03AQFo8EWqxlFhMw/profile-displayphoto-shrink_800_800/0/1674823675089?e=1681948800&v=beta&t=gLs8799kl6DY6EG8l0kVz34o2It59amSOU6wv9eq38M" alt="ronald's image">
    <h1>Hey there! I'm Ronald Kipchirchir</h1>
    <p>I am a quality-oriented, open-minded Software Developer passionate about learning and exploring new things.</p>
    <h2>SKILLS</h2>
    <h2>Technical Skills</h2>
    <ul>
      <li>Git and Gitbash</li>
      <li>JavaScript(Reactjs)</li>
      <li>TypeScript(AngularJs)</li>
      <li>Ruby(Ruby on Rails</li>
    </ul>
    <h2>Soft Skills</h2>
    <ul>
      <li>Time Management</li>
      <li>Communication</li>
      <li>Collaboration</li>
      <li>Leadership</li>
    </ul>
  </div>
</div>
